* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

html, body {
  height: 100%;
  width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav{
    height: 100px;
    width: 100%;
    position: fixed;
    /* background-color: red; */
    top: 0;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav h1{
    font-size: 28px;
    font-weight: 200;
}
#nav #part2{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
#part2 a{
    color: black;
    text-decoration: none;
    margin: 20px;
}
#part2 a:nth-last-child(1){
    background-color: yellow;
    padding: 7px 19px;
    border-radius: 50px;
    border: 1px solid black;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}
#part2 a:nth-last-child(1) h5{
    font-weight: 200;
    position: relative;
    z-index: 9;
}
#part2 a:nth-last-child(1) #green{
    width: 100%;
    background-color: springgreen;
    top: 0;
    left: -100%;
    position: absolute;
    height: 100%;
    transition: left 0.4s ease;

}
#part2 a:nth-last-child(1):hover #green{
    left: 0;
}
i{
    font-size: 20px;
    color: rgba(43, 42, 42, 0.748);
    font-weight: 100;
    z-index: 9;
}
#main>h1{
    font-size: 5.4vw;
    font-weight: 400;
    width: 60%;
    text-align: center;
    /* background-color: red; */
    text-transform: capitalize;
    position: relative;
    z-index: 10;
}
#main>h1::after{
    content: "";
    position: absolute;
    background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
    background-size: cover;
    width: 38%;
    height: 16px;
    /* background-color: blue; */
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 0);
}
#main #img1{
    height: 550px;
    width: 360px;
    position: absolute;
    left: 5%;
    top: 20%;
}
#main #img2{
    height: 230px;
    width: 260px;
    position: absolute;
    right: 27%;
    top: 18%;
}
#main #img3{
    height: 310px;
    width: 290px;
    position: absolute;
    right: 17%;
    bottom: 10%;
}
#main img{
    transition: margin 0.8s ease;
    cursor: pointer;
}
#main img:hover{
    margin-top: -20px;
}